@charset "UTF-8";
/***************\
    VARIABLES
\***************/
/***************\
    BODY
\***************/
/* line 12, ../scss/framework.scss */
body {
  width: 99%;
  margin: auto;
  font-family: Helvetica;
}

/***************\
    REGLES D'ECRITURE
\***************/
/* line 21, ../scss/framework.scss */
.left {
  text-align: left;
}

/* line 24, ../scss/framework.scss */
.right {
  text-align: right;
}

/* line 27, ../scss/framework.scss */
.center {
  text-align: center;
}

/* line 30, ../scss/framework.scss */
.justify {
  text-align: justify;
  width: 90%;
  margin: auto;
}

/* line 35, ../scss/framework.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 38, ../scss/framework.scss */
.minuscule {
  text-transform: lowercase;
}

/* line 41, ../scss/framework.scss */
p {
  margin-bottom: 20px;
}

/* line 44, ../scss/framework.scss */
.square {
  list-style-type: square;
}

/* line 47, ../scss/framework.scss */
.no-decoration {
  list-style-type: none;
}

/***************\
    IMAGES
\***************/
/* line 54, ../scss/framework.scss */
img {
  max-width: 100%;
  height: auto;
}

/***************\
    LIENS
\***************/
/* line 62, ../scss/framework.scss */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* line 66, ../scss/framework.scss */
a:hover {
  font-weight: bold;
  text-decoration: none;
}
/* line 70, ../scss/framework.scss */
a:visited {
  text-decoration: none;
  color: inherit;
}

/***************\
    TITRES
\***************/
/* line 79, ../scss/framework.scss */
h1 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 30px;
}

/* line 85, ../scss/framework.scss */
h2 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 26px;
}

/* line 91, ../scss/framework.scss */
h3 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 24px;
}

/* line 97, ../scss/framework.scss */
h4 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 22px;
}

/* line 103, ../scss/framework.scss */
h5 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 20px;
}

/* line 109, ../scss/framework.scss */
h6 {
  color: #000;
  font-weight: bold;
  font-family: Helvetica, arial;
  font-size: 18px;
}

/* line 115, ../scss/framework.scss */
h1 > small {
  color: #ddd;
  font-size: 24px;
}

/* line 119, ../scss/framework.scss */
h2 > small {
  color: #ddd;
  font-size: 22px;
}

/* line 123, ../scss/framework.scss */
h3 > small {
  color: #ddd;
  font-size: 20px;
}

/* line 127, ../scss/framework.scss */
h4 > small {
  color: #ddd;
  font-size: 18px;
}

/* line 131, ../scss/framework.scss */
h5 > small {
  color: #ddd;
  font-size: 16px;
}

/* line 135, ../scss/framework.scss */
h6 > small {
  color: #ddd;
  font-size: 14px;
}

/* line 139, ../scss/framework.scss */
.sub {
  color: #ddd;
}

/***************\
    QUOTE & BLOCKQUOTE
\***************/
/* line 146, ../scss/framework.scss */
blockquote {
  background-color: #eee;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;
}
/* line 151, ../scss/framework.scss */
blockquote:before {
  content: '”  ';
  font-weight: bold;
  font-size: 30px;
  font-style: oblique;
}

/* line 158, ../scss/framework.scss */
code {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/* line 165, ../scss/framework.scss */
pre {
  border-left: 10px solid #eee;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 20px;
}

/* line 171, ../scss/framework.scss */
kbd {
  border-left: 10px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px;
}

/***************\
    GRILLE
\***************/
/* line 180, ../scss/framework.scss */
.grid-container {
  width: 100%;
  margin-top: 10px;
}

/* line 184, ../scss/framework.scss */
.row {
  margin-top: 1%;
}
/* line 186, ../scss/framework.scss */
.row:after {
  clear: both;
}

/* line 190, ../scss/framework.scss */
.row .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8 {
  display: inline-block;
  margin-left: 1%;
  margin-right: -0.25em;
}

/* line 195, ../scss/framework.scss */
.row > :first-child {
  margin-left: 0;
}

/* line 198, ../scss/framework.scss */
.span-1 {
  width: 11.625%;
}

/* line 201, ../scss/framework.scss */
.span-2 {
  width: 24.25%;
}

/* line 204, ../scss/framework.scss */
.span-3 {
  width: 36.875%;
}

/* line 207, ../scss/framework.scss */
.span-4 {
  width: 49.5%;
}

/* line 210, ../scss/framework.scss */
.span-5 {
  width: 62.125%;
}

/* line 213, ../scss/framework.scss */
.span-6 {
  width: 74.75%;
}

/* line 216, ../scss/framework.scss */
.span-7 {
  width: 87.375%;
}

/* line 219, ../scss/framework.scss */
.span-8 {
  width: 100%;
  margin-left: 0;
}

/* line 223, ../scss/framework.scss */
.off-1 {
  margin-left: 12.625% !important;
}

/* line 226, ../scss/framework.scss */
.off-2 {
  margin-left: 25.25% !important;
}

/* line 229, ../scss/framework.scss */
.off-3 {
  margin-left: 37.875% !important;
}

/* line 232, ../scss/framework.scss */
.off-4 {
  margin-left: 50.5% !important;
}

/* line 235, ../scss/framework.scss */
.off-5 {
  margin-left: 63.125% !important;
}

/* line 238, ../scss/framework.scss */
.off-6 {
  margin-left: 75.75% !important;
}

/* line 241, ../scss/framework.scss */
.off-7 {
  margin-left: 88.375% !important;
}

/***************\
    BARRE NAVIGATION
\***************/
/* line 248, ../scss/framework.scss */
.barre-nav {
  height: 50px;
  background-color: #f5f5f5;
}
/* line 251, ../scss/framework.scss */
.barre-nav ul {
  padding: 0;
  margin: 0;
}
/* line 254, ../scss/framework.scss */
.barre-nav ul li {
  float: left;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: .9em;
  text-transform: uppercase;
  line-height: 3.5;
  border-bottom: 1px solid #fff;
}
/* line 264, ../scss/framework.scss */
.barre-nav ul li:hover {
  color: #fa2b0a;
}
@media screen and (min-width: 600px) {
  /* line 264, ../scss/framework.scss */
  .barre-nav ul li:hover {
    border-bottom: 6px solid #fa2b0a;
    color: #fa2b0a;
  }
}
@media screen and (min-width: 600px) {
  /* line 254, ../scss/framework.scss */
  .barre-nav ul li {
    float: left;
    display: inline-block;
    padding: 18px 15px 10px 16px;
    border-bottom: 6px solid #f5f5f5;
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
}
@media screen and (min-width: 800px) {
  /* line 280, ../scss/framework.scss */
  .barre-nav ul li:first-child {
    margin-left: 20px;
  }
}

/***************\
    FORMULAIRES
\***************/
/* line 292, ../scss/framework.scss */
.input {
  border: 1px #d9d9d9 solid;
  height: 34px;
  background-color: #fff;
  padding: 5px;
  font-size: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 302, ../scss/framework.scss */
.input:focus {
  outline: 1px solid black;
}
@media screen and (max-width: 600px) {
  /* line 292, ../scss/framework.scss */
  .input {
    width: 95%;
    margin-left: 0;
  }
}

/* line 310, ../scss/framework.scss */
.textarea {
  max-width: 100%;
  min-height: 100px;
  vertical-align: top;
}

/* line 315, ../scss/framework.scss */
.input-small {
  height: 24px;
}

/* line 318, ../scss/framework.scss */
.input-big {
  height: 44px;
}

/* line 321, ../scss/framework.scss */
.input-control {
  margin-bottom: 15px;
}

/* line 325, ../scss/framework.scss */
.input-control label {
  text-align: right;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  /* line 325, ../scss/framework.scss */
  .input-control label {
    text-align: left;
    margin-left: 2.5%;
  }
}

/***************\
    BOUTONS
\***************/
/* line 337, ../scss/framework.scss */
.btn {
  cursor: pointer;
  vertical-align: middle !important;
  text-align: center;
  border: 1px transparent solid;
  padding: 5px 15px;
  font-size: 11.9px;
}
/* line 344, ../scss/framework.scss */
.btn:focus {
  outline: none;
}

/* line 348, ../scss/framework.scss */
.btn-small {
  padding: 2px 8px;
  font-size: 9.9px;
}

/* line 352, ../scss/framework.scss */
.btn-big {
  padding: 11px 19px;
  font-size: 17.5px;
}

/* line 356, ../scss/framework.scss */
.btn-primaire {
  color: #fff !important;
  background-color: #fa2b0a;
  box-shadow: 1px 0px #cc0000, 0px 1px #cc0000, 2px 1px #cc0000, 1px 2px #cc0000, 3px 2px #cc0000, 2px 3px #cc0000, 4px 3px #cc0000, 3px 4px #cc0000, 5px 4px #cc0000, 4px 5px #cc0000, 6px 5px #cc0000, 5px 6px #cc0000;
}
/* line 365, ../scss/framework.scss */
.btn-primaire:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #cc0000, 0px 1px #cc0000, 2px 1px #cc0000, 1px 2px #cc0000, 3px 2px #cc0000, 2px 3px #cc0000, 4px 3px #cc0000, 3px 4px #cc0000;
}
/* line 372, ../scss/framework.scss */
.btn-primaire:focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #cc0000, 0px 1px #cc0000, 2px 1px #cc0000, 1px 2px #cc0000, 3px 2px #cc0000, 2px 3px #cc0000, 4px 3px #cc0000, 3px 4px #cc0000;
}

/***************\
    NOTIFICATIONS
\***************/
/* line 384, ../scss/framework.scss */
.alert {
  margin: 0% 5%;
  margin-bottom: 20px;
  text-align: left;
  padding: 15px 10px;
}

/* line 390, ../scss/framework.scss */
.alert-info {
  background-color: #CCE2FF;
  color: #4D8796;
  border-left: 6px solid #4D8796;
}

/* line 395, ../scss/framework.scss */
.alert-danger {
  background-color: #F1D7D7;
  color: #A95252;
  border-left: 6px solid #A95252;
}

/* line 400, ../scss/framework.scss */
.alert-success {
  background-color: #DEFCD5;
  color: #52A954;
  border-left: 6px solid #52A954;
}

/***************\
    TABLEAUX
\***************/
/* line 409, ../scss/framework.scss */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 416, ../scss/framework.scss */
.altere tr:nth-child(2n) {
  background-color: #f5f5f5;
}

/* line 421, ../scss/framework.scss */
.complete {
  border: 1px solid #000;
}

/* line 426, ../scss/framework.scss */
.survol tr:hover {
  background-color: #f5f5f5;
}

/* line 431, ../scss/framework.scss */
th {
  display: table-cell;
  font-size: 17px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid black;
}
