/***************\
    VARIABLES
\***************/
$couleur_primaire : #fa2b0a;
$couleur_primaire_dark : #cc0000;
$couleur_primaire_light : #fc9584;
$couleur_secondaire : #f5f5f5;

/***************\
    BODY
\***************/
body {
    width: 99%;
    margin: auto;
    font-family: Helvetica;
}

/***************\
    REGLES D'ECRITURE
\***************/
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
    width: 90%;
    margin:auto;
}
.majuscule {
    text-transform: uppercase;
}
.minuscule {
    text-transform: lowercase;
}
p {
    margin-bottom: 20px;
}
.square {
    list-style-type: square;
}
.no-decoration {
    list-style-type: none;
}

/***************\
    IMAGES
\***************/
img {
    max-width: 100%;
    height: auto;
}

/***************\
    LIENS
\***************/
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        font-weight: bold;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
        color: inherit;
    }
}

/***************\
    TITRES
\***************/
h1 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 30px;
}
h2 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 26px;
}
h3 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 24px;
}
h4 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 22px;
}
h5 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 20px;
}
h6 {
    color: #000;
    font-weight: bold;
    font-family: Helvetica, arial;
    font-size: 18px;
}
h1>small {
    color: #ddd;
    font-size: 24px;
}
h2>small {
    color: #ddd;
    font-size: 22px;
}
h3>small {
    color: #ddd;
    font-size: 20px;
}
h4>small {
    color: #ddd;
    font-size: 18px;
}
h5>small {
    color: #ddd;
    font-size: 16px;
}
h6>small {
    color: #ddd;
    font-size: 14px;
}
.sub {
    color: #ddd;
}

/***************\
    QUOTE & BLOCKQUOTE
\***************/
blockquote {
    background-color: #eee;
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
    &:before {
        content: '”  ';
        font-weight: bold;
        font-size: 30px;
        font-style: oblique;
    }
}
code {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
pre {
    border-left: 10px solid #eee;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 20px;
}
kbd {
    border-left: 10px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px; 
}

/***************\
    GRILLE
\***************/
.grid-container {
    width: 100%;
    margin-top: 10px;
}
.row {
    margin-top: 1%;
    &:after {
        clear: both;
    }
}
.row .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8 {
    display: inline-block;
    margin-left: 1%;
    margin-right: -0.25em;
}
.row>:first-child {
    margin-left: 0;
}
.span-1 {
    width: 11.625%;
}
.span-2 {
    width: 24.25%;
}
.span-3 {
    width: 36.875%;
}
.span-4 {
    width: 49.5%;
}
.span-5 {
    width: 62.125%;
}
.span-6 {
    width: 74.75%;
}
.span-7 {
    width: 87.375%;
}
.span-8 {
    width: 100%;
    margin-left:0;
}
.off-1 {
    margin-left: 12.625% !important;
}
.off-2 {
    margin-left: 25.25% !important;
}
.off-3 {
    margin-left: 37.875% !important;
}
.off-4 {
    margin-left: 50.5% !important;
}
.off-5 {
    margin-left: 63.125% !important;
}
.off-6 {
    margin-left: 75.75% !important;
}
.off-7 {
    margin-left: 88.375% !important;
}

/***************\
    BARRE NAVIGATION
\***************/
.barre-nav {
    height: 50px;
    background-color: $couleur_secondaire;
    ul {
        padding: 0;
        margin: 0;
        li {
            float: left;
            width: 100%;
            height: 50px;
            text-align: center;
            background-color: $couleur_secondaire;
            font-size: .9em;
            text-transform:uppercase;
            line-height: 3.5;
            border-bottom: 1px solid #fff;
            &:hover {
                color: $couleur_primaire;
                @media screen and (min-width: 600px) {
                    border-bottom: 6px solid $couleur_primaire;
                    color: $couleur_primaire;
                }
            }
            @media screen and (min-width: 600px) {
                float: left;
                display: inline-block;
                padding: 18px 15px 10px 16px;
                border-bottom: 6px solid $couleur_secondaire;
                width: inherit;
                height: inherit;
                line-height: inherit;
            }
            &:first-child {
                @media screen and (min-width: 800px) {
                    margin-left: 20px;
                }
            }
        }
    }
}

/***************\
    FORMULAIRES
\***************/
.input {
    border: 1px #d9d9d9 solid;
    height: 34px;
    background-color: #fff;
    padding: 5px;
    font-size: 100%;
    width: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    &:focus {
        outline: 1px solid black;
    }
    @media screen and (max-width: 600px) {
        width: 95%;
        margin-left: 0;
    }
}
.textarea {
    max-width: 100%;
    min-height: 100px;
    vertical-align: top;
}
.input-small {
    height: 24px;
}
.input-big {
    height: 44px;
}
.input-control {
    margin-bottom: 15px;

}
.input-control label {
    text-align: right;
    font-weight: 600;
    @media screen and (max-width: 600px) {
        text-align: left;
        margin-left: 2.5%;
    }
}

/***************\
    BOUTONS
\***************/
.btn {
    cursor: pointer;
    vertical-align: middle !important;
    text-align: center;
    border: 1px transparent solid;
    padding: 5px 15px;
    font-size: 11.9px;
    &:focus {
        outline: none;
    }
}
.btn-small {
    padding: 2px 8px;
    font-size: 9.9px;
}
.btn-big {
    padding: 11px 19px;
    font-size: 17.5px;
}
.btn-primaire {
    color: #fff !important;
    background-color: $couleur_primaire;
    box-shadow: 1px 0px $couleur_primaire_dark, 0px 1px $couleur_primaire_dark,
              2px 1px $couleur_primaire_dark, 1px 2px $couleur_primaire_dark,
              3px 2px $couleur_primaire_dark, 2px 3px $couleur_primaire_dark,
              4px 3px $couleur_primaire_dark, 3px 4px $couleur_primaire_dark,
              5px 4px $couleur_primaire_dark, 4px 5px $couleur_primaire_dark,
              6px 5px $couleur_primaire_dark, 5px 6px $couleur_primaire_dark;
    &:hover {
        transform: translate(2px, 2px);
        box-shadow: 1px 0px $couleur_primaire_dark, 0px 1px $couleur_primaire_dark,
              2px 1px $couleur_primaire_dark, 1px 2px $couleur_primaire_dark,
              3px 2px $couleur_primaire_dark, 2px 3px $couleur_primaire_dark,
              4px 3px $couleur_primaire_dark, 3px 4px $couleur_primaire_dark;
    }
    &:focus {
        transform: translate(2px, 2px);
        box-shadow: 1px 0px $couleur_primaire_dark, 0px 1px $couleur_primaire_dark,
              2px 1px $couleur_primaire_dark, 1px 2px $couleur_primaire_dark,
              3px 2px $couleur_primaire_dark, 2px 3px $couleur_primaire_dark,
              4px 3px $couleur_primaire_dark, 3px 4px $couleur_primaire_dark;
    }
}

/***************\
    NOTIFICATIONS
\***************/
.alert {
    margin: 0% 5%;
    margin-bottom: 20px;
    text-align: left;
    padding: 15px 10px;
}
.alert-info {
    background-color: #CCE2FF;
    color: #4D8796;
    border-left: 6px solid #4D8796;
}
.alert-danger {
    background-color: #F1D7D7;
    color: #A95252;
    border-left: 6px solid #A95252;
}
.alert-success {
    background-color: #DEFCD5;
    color: #52A954;
    border-left: 6px solid #52A954;
}

/***************\
    TABLEAUX
\***************/
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.altere {
    tr {
        &:nth-child(2n) {
            background-color: $couleur_secondaire;
        }
    }
}
.complete {
    border: 1px solid #000;
}
.survol {
    tr {
        &:hover {
            background-color: $couleur_secondaire;
        }
    }
}
th {
    display: table-cell;
    font-size: 17px;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

